<html>

    <head>
        <title> Blog da Arcanjo</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog da Arcanjo</a></h1>
        </div>
        
        <div>
            
            <h2><a href=""> Meu primeiro post</a></h2> 
            <p>publicado: 28.10.2020, 16:25</p>
            <p> Esse é o primeiro post que estou fazendo, através do script html do arquivo post_list.</p>
        </div>

        <div>
            <h2><a href="">Meu segundo post</a></h2>
            <p>publicado: 28.10.2020, 16:28</p>
            <p> Esse é o segundo post, para dar continuidade ao exemplo no script html do arquivo post_list.</p>
        </div>
    </body>

</html>
